* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    border-collapse: collapse;
    font-size: 14px;
    font-family: arial, sans-serif;
}
a {
    color: blue;
    text-decoration: underline;
}


#page-nav {
    border-style: solid;
    vertical-align: bottom;
}
#inhalt {
    position:absolute;
    top: 130px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}

#top-nav {
    border-style: solid;
}

.text_rechts {
    text-align: right;
}
.abstand_oben {
    padding-top:5px;
}
.sprache_auswahl {
    border-size: 1px;
    border-style:solid;
    border-color: #cccccc;
    background-color: #cccccc;
}